# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- Discuss commonly used data science libraries.
- Explore essential data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

<table align="left">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
formatted_hours = f"{hours:.2f}"
print(formatted_hours)

3.33

## Author
Jordi Lucio